* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.box {
    width: 100px;
    height: 100px;
    background: lightblue;
    border: 1px solid black;
  margin:10px;
    
}

.text {
    position: fixed;
    left: 50%;
    top: 0;
}